// make page link buttons look like regular links
.btn-pagelink:hover {
    color: darken($text-color, 25%);
}

.btn-pagelink:active {
    box-shadow: none;
}

.btn-pagelink {
    background: none;
    color: $text-color;
    border: none;
    border-radius: 0;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

.progress-reflect {
    margin-bottom: 0;
}

.task-circle {
    background-color: #ffffff;
    border: 1px dashed #361163;
    border-radius: 50%;
    color: #361163;
    height: 80px;
    margin-left: 25px;
    width: 80px;
}

.task-circle span {
    font-size: 40px;
    padding-top: 17px;
}

.task-circle .glyphicon-plus {
    padding-left: 3px;
}

.task-circle .glyphicon-cog {
    padding-top: 19px;
}

.task-circle-done {
    background-color: #361163;
    color: #ffffff;
}

.task-label {
    padding-top: 10px;
}

// task list for full screen width
.task-list {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 780px;
}

.task-list-item {
    display: inline-block;
    vertical-align: top;
    width: 130px;
}

@media (max-width: 870px) {
    .task-list {

    }

    .task-list-item {
        display: block;
    }
}
